includeConfig 'configs/general.config'
includeConfig 'configs/s3.config'

profiles {
  standard {
    process.executor = 'local'
    process.maxForks = 3
  }
  tara {
    executor.$slurm.queueSize = 20
    includeConfig 'configs/tara.config'
  }

  nbt {
    executor.$slurm.queueSize = 20
    includeConfig 'configs/nbt.config'
  }

  gb {
      executor.$slurm.queueSize = 10
      includeConfig 'configs/gb.config'
  }

}

manifest {
  mainScript = 'main.nf'
  name = 'GWAS-Rice'
  description = """
  Genome-wide association studies on Rice (GWAS-Rice) by P.Sujiraporn, W.Alisa

  Usage: 
    nextflow run nbt/gwas-rice \\
      -hub seeds \\
      -resume

    *for other nextflow [options] [-with-report|-with-timeline|-with-dag]
  """
  author = 'Sujiraporn Pakchuen (sujiraporn.pak@biotec.or.th), Alisa Wilantho (alisa.wil@biotec.or.th)'
  homePage = 'https://gitlab.seeds-th.com/nbt/gwas-rice'
  version = '0.0.1'
}
